* {
    font: "JetBrains Nerd Font 11";
    bg0: #0f1929;
    bg1: #1a2740;
    bg2: #243447;
    fg0: #c7d5e8;
    fg1: #a8c1e0;
    fg2: #7a93b8;
    water: #4a7bc8;
    sky: #6b93d6;
    moon: #e8f2ff;
    background-color: transparent;
    text-color: @fg0;
    padding: 0;
    spacing: 0;
    margin: 0;
}

window {
    location: center;
    width: 450px;
    background-color: @bg0;
    border: 2px;
    border-color: #1c1c1c;
    border-radius: 16px;
    padding: 8px;
    children: [ inputbar, listview ];
}

inputbar {
    spacing: 12px;
    padding: 16px 20px;
    children: [ entry, icon-search];
    background-color: @bg0;
}

icon-search {
    expand: false;
    filename: "search-symbolic";
    size: 18px;
    color: @water;
}

entry {
    placeholder: "Szukaj aplikacji...";
    placeholder-color: @fg2;
    text-color: @moon;
    background-color: @bg2;
    border: 1px;
    border-color: #2a2a2a;
    border-radius: 8px;
    padding: 10px 14px;
}

listview {
    lines: 8;
    scrollbar: true;
    background-color: @bg0;
}

element {
    padding: 14px 14px;
    spacing: 16px;
    background-color: @bg0;
    text-color: @fg0;
    margin: 0 20px 0 20px;
}

element selected {
    background-color: @water;
    text-color: @moon;
    border-radius: 8px;
}

element-icon {
    size: 28px;
    color: @water;
}

element selected element-icon {
    color: @moon;
}

scrollbar {
    width: 4px;
    handle-color: @water;
    background-color: #2a2a2a;
    border-radius: 2px;
    margin: 0 24px 12px 0;
}
