[user]
	name = Michał Popiel
	email = 131244219+Kogut01@users.noreply.github.com

[alias]
	cd = checkout
	cdb = checkout -b
	ci = commit
	ss = status --short
	cb = branch --show-current
	pr = pull --rebase

[core]
	excludesFile = ~/.config/git/ignore

[init]
	defaultBranch = main

[push]
	default = current
	autoSetupRemote = true